// Buttons
@import '../utils';
@mixin button {
  display: inline-flex;
  align-items: center;
  height: px-to-rem(36);
  padding: 0 1.5rem;
  font-size: px-to-rem(14);
  font-weight: 600;
  line-height: 1;
  border-radius: px-to-rem(20);
  text-decoration: none;
  cursor: pointer;
}

.tp-button-outline {
  @include button;
  color: var(--Black, #2C2C2C);
  background: var(--Text-White, #FFF);
  border: 1px solid var(--Pink, #FB8CB4);
  &:hover {
    color: var(--Black, #2C2C2C);
    background: var(--Button-outline-hover);
  }
  &__black {
    @extend .tp-button-outline;
    border: 1px solid var(--Black);
  }
}

.tp-button-filled {
  @include button;
  color: var(--Text-White, #FFF);
  background: var(--Pink-Accent, #F46C9E);
  border: 1px solid var(--Pink, #FB8CB4);
  &:hover {
    background: var(--Button-filled-hover);
  }
}

.tp-button-md {
  height: px-to-rem(42);
  padding: 0 1.8rem;
  font-size: px-to-rem(16);
}

.tp-button-lg {
  height: 3.5rem;
  border-radius: 2rem;
  font-size: 1.25rem;
}

.tp-button-with-arrow {
  .button-content {
    position: relative;
    overflow: visible;
    &:after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5216 8.5085C20.9121 8.11797 20.9121 7.48481 20.5216 7.09428L14.1576 0.730324C13.7671 0.339799 13.1339 0.339799 12.7434 0.730324C12.3529 1.12085 12.3529 1.75401 12.7434 2.14454L18.4002 7.80139L12.7434 13.4582C12.3529 13.8488 12.3529 14.4819 12.7434 14.8725C13.1339 15.263 13.7671 15.263 14.1576 14.8725L20.5216 8.5085ZM0.814453 8.80139H19.8145V6.80139H0.814453V8.80139Z' fill='white'/%3E%3C/svg%3E%0A");
      background-position: 50%;
      background-repeat: no-repeat;
      height: 16px;
      width: 21px;
      transition-duration: .3s;
      transition-property: transform,opacity;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      transform: translateX(-1rem);
      bottom: 0;
      margin-bottom: auto;
      margin-top: auto;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: -25px;
      top: 0;
    }
  }
  .button-content {
    transform: translateX(0);
    transition-duration: .3s;
    transition-property: transform,color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
  &__black {
    color: #4F4F4F;
    .button-content {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5216 8.5085C20.9121 8.11797 20.9121 7.48481 20.5216 7.09428L14.1576 0.730324C13.7671 0.339799 13.1339 0.339799 12.7434 0.730324C12.3529 1.12085 12.3529 1.75401 12.7434 2.14454L18.4002 7.80139L12.7434 13.4582C12.3529 13.8488 12.3529 14.4819 12.7434 14.8725C13.1339 15.263 13.7671 15.263 14.1576 14.8725L20.5216 8.5085ZM0.814453 8.80139H19.8145V6.80139H0.814453V8.80139Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &:hover {
    .button-content {
      &:after {
        transform: translateX(0);
        opacity: 1;
      }
    }
    .button-content {
      transform: translateX(-0.4rem);
    }
  }
}
