---
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article';
import { Markdown } from '@astropub/md';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: 'articles?populate=cover',
    wrappedByKey: 'data',
  });

  return articles.map((article) => ({
    params: { slug: article.attributes.slug },
    props: article,
  }));
}
type Props = Article;

const article = Astro.props;
---
<style>
	main {
		display: flex;
		justify-content: center;
	}
	.container {
		max-width: 700px;
	}
	.cover {
		width: 100%;
		aspect-ratio: 3 / 2;
	}
	.content img {
		width: 100%;
	}
</style>
<BaseLayout pageTitle={article.attributes.titl}>
	<main>
		<div class="container">
			{ article.attributes.cover.data &&
				<img src={ article.attributes.cover.data.attributes.url } alt="aaa" class="cover" />
			}
			<div class="content">
				<Markdown of={article.attributes.content} />
			</div>
		</div>
	</main>
</BaseLayout>
