@import './utils';

.blog-post {
  .container {
    max-width: 700px;
  }

  article {
    a {
      color: var(--tp-primary-color);
    }
  }

  .blog-heading {
    display: flex;
    flex-direction: column;
  }

  .blog-heading-meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    margin: 0 0 1rem;
  }

  .blog-body {
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 1rem 0;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }

  .blog-body .h2-underline {
    color: var(--tp-primary-color);
    position: relative;
  }

  .blog-body .h2-underline::after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 30%;
    height: 1rem;
    background-color: var(--tp-primary-color);
    opacity: 0.2;
    z-index: 0;
  }

  .blog-body ol li {
    margin-bottom: 0.5rem;
  }

  .blog-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .blog-post-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    color: #3D3D3D;
  }

  .blog-post-subtitle {
    font-size: 1.8rem;
    color: var(--tp-primary-color);
    text-transform: uppercase;
    text-align: center;
  }

  .blog-image-row {
    display: flex;
    gap: 1rem;
  }

  .blog-image-row a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .blog-image-row img {
    object-fit: cover;
    margin: 0;
    height: 10rem;
    width: 100%;
  }

  .blog-post p {
    line-height: 1.4;
  }

  .blog-content {
    margin: 1rem 0 2rem;
  }

  .blog-section-title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .blog-section-number {
    width: 2rem;
    height: 2rem;
    background-color: var(--tp-primary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    flex-shrink: 0;
  }

  h2 {
    font-size: 1.2rem;
    color: var(--tp-primary-color);
    text-transform: uppercase;
  }

  h3 {
    color: var(--tp-primary-color);
  }

  .post-grid {
    display: flex;
    gap: 2rem;
    @media (max-width: 46rem) {
      flex-wrap: wrap;
    }
    .post-content {
      min-width: 0;

    }
    .post-aside {
      flex: 1 0 20em;
      @media (max-width: 46rem) {
        display: none;
      }
    }
  }

  .table-of-content {
    position: sticky;
    top: px-to-rem(70);
    &__wrapper {
      border: 1px solid var(--Light-Grey);
      border-radius: 1rem;
      padding: 1rem;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    @media (max-width: 46rem) {
      top: px-to-rem(65);
    }
    z-index: 99;
    .table-of-content__scroll {
      overflow-y: auto;
      max-height: calc(100dvh - 14rem);
      @media (max-width: 46rem) {
        max-height: calc(100dvh - 9.8rem);
      }
    }
    h3 {
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0 1rem 0 0;
      li {
        &::marker {
          color: gray;
          font-size: 0.8rem;
        }
        a {
          color: #333;
          text-decoration: none;
          font-size: px-to-rem(14);
          &:hover {
            color: var(--tp-primary-color);
          }
        }
        &[data-depth="2"] {
          padding-left: 0;
        }
        &[data-depth="3"] {
          padding-left: 1rem;
        }
      }
    }
    .blog-sharing {
      ul {
        li {
          a {
            color: white;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }


  .blog-post-image {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0.5rem;
  }

  .blog-post-image img {
    width: 100%;
    height: auto;
    //max-height: 30rem;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .breadcrumbs {
    margin: 1rem 0;
  }

  .breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: gray;
  }

  .breadcrumbs-item {
    position: relative;
  }

  .breadcrumbs-item a {
    color: var(--tp-primary-color);
    text-decoration: none;
  }

  .breadcrumbs-item:not(:last-child)::after {
    content: ">";
    margin: 0 0.5rem;
    color: gray;
  }

  .blog-tags {
    margin: 2rem 0;
  }

  .blog-tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  a.blog-category-item {
    color: var(--tp-primary-color);
    font-size: px-to-rem(15);
    font-style: normal;
    font-weight: 500;
    line-height: px-to-rem(25);
    text-transform: uppercase;
    text-decoration: none;
  }

  .blog-tags-item a {
    color: var(--tp-primary-color);
    border: 1px solid var(--tp-primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
  }

  .blog-list {
    margin: 2rem 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-auto-flow: row dense;
    flex-wrap: wrap;
  }

  .blog-wrapper {
    padding-bottom: 2rem;
  }

  .blog-wrapper h1 {
    text-align: center;
    color: var(--tp-primary-color);
  }

  .home-blog {
    margin-bottom: 4rem;
  }

  .home-blog h2 a {
    color: #000;
    text-decoration: none;
  }

  .blog-sharing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__mobile {
      @media (min-width: 42rem) {
        display: none;
      }
    }
  }

  .blog-sharing h3 {
    margin: 0;
  }

  .blog-sharing-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    li {
      flex: 0 0 auto;
    }
  }

  .blog-sharing .blog-sharing-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .blog-sharing-item {
    &.facebook a {
      background-color: #1877F2;
      &:hover {
        background-color: #0f53a9;
      }
    }
    &.twitter a {
      background-color: #1D9BF0;
      &:hover {
        background-color: #1575b6;
      }
    }
    &.linkedin a {
      background-color: #0A66C2;
      &:hover {
        background-color: #06407a;
      }
    }
    &.reddit a {
      background-color: #FF4500;
      &:hover {
        background-color: #b63100;
      }
    }
  }

  .blog-sharing--compact {
    border: none;
    padding: 0;
    margin: 0;
  }

  .blog-numeric-list {
    padding-left: 1rem;
  }

  .blog-numeric-list li::marker {
    font-weight: 700;
  }

  .author-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .author {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .author-name a, a.triplay-link {
    color: var(--tp-primary-color);
    text-decoration: none;
    font-size: 1.1rem;
  }

  .author-name {
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
  }

  .author-name {
    padding: 0 0 0.3rem;
  }

  .author-caption {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.3;
  }

  @media (max-width: 62rem) {
    .blog-post-title {
      font-size: 1.4em;
    }
    .breadcrumbs-list {
      font-size: 0.8rem;
    }
    .blog-post-image img {
      max-width: 100%;
    }
  }

  @media (max-width: 28rem) {
    .blog-image-row {
      flex-direction: column;
    }
  }
}
