.blog-page {
  @import './components/breadcrumbs';
  .blog-wrapper {
    padding-bottom: 2rem;
    h1 {
      font-size: 2rem;
      text-align: center;
      color: var(--tp-primary-color);
      a {
        color: var(--tp-primary-color);
        text-decoration: none;
      }
    }
  }

  .blog-list {
    margin: 2rem 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-auto-flow: row dense;
    flex-wrap: wrap;
  }

  .blog-list-all {
    grid-gap: 1rem;
  }
}
