.blog-page {
  .breadcrumbs {
    margin: 1rem 0;
  }

  .breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: gray;
  }

  .breadcrumbs-item {
    position: relative;
  }

  .breadcrumbs-item a {
    color: var(--tp-primary-color);
    text-decoration: none;
  }

  .breadcrumbs-item:not(:last-child)::after {
    content: ">";
    margin: 0 0.5rem;
    color: gray;
  }

  .blog-wrapper {
    padding-bottom: 2rem;
    .posts-wrapper {
      min-height: 100vh;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
      color: var(--tp-primary-color);
      a {
        color: var(--tp-primary-color);
        text-decoration: none;
      }
    }
  }

  .blog-list {
    margin: 2rem 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-auto-flow: row dense;
    flex-wrap: wrap;
  }

  .blog-list-all {
    grid-gap: 1rem;
  }

  .blog-page-seo-text {
    //display: none;
  }

  @media (max-width: 62rem) {
    .breadcrumbs-list {
      font-size: 0.8rem;
    }
  }
}
