---
import '../../styles/footer.styles.scss';
import TriPlayLogo from '../../../public/images/triplay-logo.svg';
import VallexLogo from '../../../public/images/vallex-logo-grey.svg';
import { Image } from 'astro:assets';
import Letters from '../../../public/icons/letters.svg';
import FooterInfo from './FooterInfo.astro';
import FeedbackFormFooter from './feedback-form-footer';
import Cookie from './cookie';
const year = new Date().getFullYear();
---

<footer class="footer">
	<div class="footer__inner">
		<div class="footer__header">
			<a
				href="/public"
				aria-label='TriPlay'
				style={ { display: 'flex', alignItems: 'center' } }>
				<Image
					src={ TriPlayLogo }
					alt='TriPlay'
					loading="lazy"
					decoding="async"
				/>
			</a>
			<div class='footer__header-divider'></div>
		</div>

		<div class="footer__grid">
			<div class="footer__grid-subscribe">
				<div class="subscribe-header">
					<div class='subscribe-header__text'>Subscribe to our Newsletters!</div>
					<Image
						src={ Letters }
						width={ 54 }
						height={ 54 }
						alt='Subscribe to our Newsletters!'
					/>
				</div>
				<FeedbackFormFooter client:idle />
			</div>
			<FooterInfo />
		</div>

		<div class='footer__bottom'>
			<div class='footer__bottom-divider'></div>
			<div class='footer__bottom-wrapper'>
				<div>© {year} Vallex GmbH</div>
				<div class='footer__bottom-vallex'>
					<div>Powered by</div>
					<a href='https://vallex.io' target='_blank'>
						<Image
							src={ VallexLogo }
							width={ 123 }
							height={ 27 }
							alt='Vallex.io'
							loading="lazy"
							decoding="async"
						/>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<Cookie client:idle />
