---
---
<div class="flex gap-1">
	<a
		href="/auth/login"
		class='tp-button-outline button-with-arrow button-with-arrow__black'
		id='Create'
	>
		<span class='mantine-Button-label'>
			Log in
		</span>
	</a>
	<a
		href="/auth/signup"
		class='tp-button-filled button-with-arrow'
		id='login'
	>
		<span class='mantine-Button-label'>
			Sign Up
		</span>
	</a>
</div>
