---
import Navigation from './Navigation.astro';
import { Image } from 'astro:assets';
import Logo from '../../../public/images/triplay-logo.svg';
import HeaderLogin from './HeaderLogin.astro'
import '../../styles/header.styles.scss';
---
<header class="app-header">
	<div class="header__container">
		<a href="/">
			<Image
				src={ Logo }
				alt='TriPlay'
				loading="preload"
			/>
		</a>
		<Navigation />
		<div class='app-shell-right'>
			<HeaderLogin />
		</div>
	</div>
</header>
