---
---
<div class="flex gap-1">
	<a
		href="/auth/login"
		class='tp-button-outline tp-button-with-arrow tp-button-with-arrow__black'
		id='Create'
	>
		<span class='button-content'>
			Log in
		</span>
	</a>
	<a
		href="/auth/signup"
		class='tp-button-filled tp-button-with-arrow'
		id='login'
	>
		<span class='button-content'>
			Sign Up
		</span>
	</a>
</div>
