.footer {
  margin-top: auto;
  background-color: var(--gray-dark);
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer__nav ul {
  display: flex;
  align-items: center;
  gap: 1rem 1.5rem;
}

.footer__nav ul a {
  color: white;
  text-decoration: none;
}

.footer__copyright {
  background-color: rgba(0, 0, 0, 0.3);
}

/*.footer__copyright .container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

.footer__copyright-wrapper {
  padding: 0 7rem 0 0.8rem;
}

.footer__copyright-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container-vallex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__copyright p {
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.12px;
  opacity: 0.4;
  margin: 0;
  text-align: center;
  padding: 0.75rem 0 0.75rem 0rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__title {
  color: rgba(255, 255, 255, 0.7);
  line-height: 160%;
  letter-spacing: -0.16px;
  opacity: 0.6;
}

@media (max-width: 62rem) {
  .footer .logo {
    order: 1;
    max-width: 10rem;
  }
  .footer__nav {
    order: 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .logo__link {
    justify-content: flex-start;
  }
  .footer__row {
    flex-wrap: wrap;
  }
  .footer__nav ul {
    flex-wrap: wrap;
    width: 100%;
  }
  .footer__nav ul li:last-of-type {
    margin-left: auto;
  }
  .footer .social {
    order: 2;
  }
  .footer__copyright-wrapper {
    padding: 0;
  }
}

@media (max-width: 32rem) {
  .footer__nav ul li:last-of-type {
    margin-left: 0;
  }
}
