.header {
  background-color: white;
}

.header-sticky {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e6e6e6;
  z-index: 7;
}

.header--bordered {
  border-bottom: 1px solid #e6e6e6;
}

.header__container {
  padding: 1rem 1.5rem;
}

.header__row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__row .logo {
  margin-right: 1rem;
}

.header__nav {
  margin-right: auto;
}

.header__nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav ul a {
  color: black;
  text-decoration: none;
}

.header__nav ul a.active {
  font-weight: bold;
}

.mobile-button {
  display: none;
}

.header .link-with-border {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
}

a.blog-category-item {
  color: var(--tp-primary-color);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  text-transform: uppercase;
  text-decoration: none;
}

a.blog-category-item:before {
  content: '#';
}

.blog-tags-item a {
  color: white !important;
  text-decoration: none;
}

@media (max-width: 62rem) {
  .header__container {
    padding: 1rem;
  }
  .header .link-with-border {
    padding: 0.5rem;
    font-size: 14px;
  }
  .header__nav.open {
    width: 5rem;
    top: 4rem;
    right: 1rem;
    padding: 1rem;
  }
  .header__row {
    justify-content: space-between;
  }
  .header__row .logo {
    margin-right: auto;
  }
  .header__nav {
    display: none;
    position: absolute;
    width: 7.5rem;
    top: 4rem;
    right: 1.5rem;
    padding: 1rem;
    background-color: #f3f3f3;
    border-radius: 4px;
    z-index: 4;
  }
  .header__nav.open {
    display: block;
  }
  .header__nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-size: 0.9rem;
  }
  .mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
