---
import '../../styles/blog-page.styles.scss';
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article';
import type Tag from '../../interfaces/article';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostsGrid from "../../components/blog/PostsGrid.astro";

export async function getStaticPaths() {
	const tags: Tag[] = await fetchApi<Tag[]>({
		endpoint: 'tags?populate[fields][0]=name&populate[fields][1]=seo_text&populate[seo][populate]=*&populate[avatar][fields][0]=url',
		wrappedByKey: 'data',
	});
	return tags.map((tag) => ({
		params: { slug: tag.attributes.slug },
		props: tag,
	}));
}
const { slug } = Astro.params;
type Props = Tag;
const tag = Astro.props;
const metadata = tag?.attributes.seo;
const openGraph = {
	basic: {
		title: metadata?.metaTitle
			? `${ metadata.metaTitle } - Triplay.ai Best Playful AI Travel Planning`
			: `${ tag.attributes.name } - Triplay.ai Best Playful AI Travel Planning`,
		type: "website",
		image: 'https://triplay.ai/triplay-logo.svg',
		description: metadata?.metaDescription,
		url: `https://triplay.ai/tags/${ slug }`,
	}
};
const articles = await fetchApi<Article[]>({
	endpoint: `articles?populate[cover][populate]=true
	&sort[0]=createdAt:desc&pagination[page]=1
	&pagination[pageSize]=1000
	&filters[tags][slug][$contains]=${tag.attributes.slug}`,
	wrappedByKey: 'data',
});
---
<BaseLayout
	pageTitle={ tag?.attributes.name }
	metaTitle={ tag?.attributes.name }
	description={ metadata?.metaDescription }
	metaDescription={ metadata?.metaDescription }
	keywords={ metadata?.metaKeywords }
	openGraph={ openGraph }
>
	<div class="blog-page">
		<nav class='breadcrumbs' aria-label='Breadcrumb'>
			<ol class='ul-unstyled breadcrumbs-list' role='list'>
				<li class='breadcrumbs-item'><a href='/'>Main</a></li>
				<li class='breadcrumbs-item'>Tags</li>
				<li class='breadcrumbs-item'>{tag.attributes.name}</li>
			</ol>
		</nav>
		<div class="blog-wrapper">
			<div class="posts-wrapper">
				<h1>{tag.attributes.name}</h1>
				{ articles.length &&
					<PostsGrid articles={ articles } />
				}
			</div>
		</div>
	</div>
</BaseLayout>
