---
import BlogLayout from '../layouts/BlogLayout.astro';
import PostGrid from '../components/postsGrid';
const pageTitle = "Blog";
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';
import '../styles/blog-page.styles.scss';

const articles = await fetchApi<Article[]>({
	endpoint: 'articles?populate[cover][populate]=true&sort[0]=createdAt:desc',
	wrappedByKey: 'data',
});
// const filtered = articles.filter((a, index) => index < 18)
let currentIdx = 6;
---
<script>
	function handleClick () {
		console.log('click')
		// ${currentIdx} = ${currentIdx} + 6
	}
	document.getElementById("load-more").addEventListener("click", handleClick);
</script>

<BlogLayout pageTitle={pageTitle}>
	<div class="blog-page">
		<div class="container">
			<nav class='breadcrumbs' aria-label='Breadcrumb'>
				<ol class='ul-unstyled breadcrumbs-list' role='list'>
					<li class='breadcrumbs-item'><a href='/'>Main</a></li>
					<li class='breadcrumbs-item'>Blog</li>
				</ol>
			</nav>
			<div class="blog-wrapper">
				<div class="posts-wrapper">
					<h1><a href='/blog/all-posts'>Blog</a></h1>
					{articles.length &&
						<PostGrid articles={ articles } client:load />
					}
				</div>
			</div>
		</div>
	</div>
</BlogLayout>
