---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';
const pageTitle = "Blog";
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';
import '../styles/blog-page.styles.scss';

const articles = await fetchApi<Article[]>({
	endpoint: 'articles?populate[cover][populate]=true&sort[0]=createdAt:desc&pagination[page]=1&pagination[pageSize]=1000',
	wrappedByKey: 'data',
});
---

<BaseLayout pageTitle={pageTitle}>
	<div class="blog-page">
		<nav class='breadcrumbs' aria-label='Breadcrumb'>
			<ol class='ul-unstyled breadcrumbs-list' role='list'>
				<li class='breadcrumbs-item'><a href='/'>Main</a></li>
				<li class='breadcrumbs-item'>Blog</li>
			</ol>
		</nav>
		<div class="blog-wrapper">
			<div class="posts-wrapper">
				<h1><a href='/blog/all-posts'>Blog</a></h1>
				{ articles.length &&
					<ul class='ul-unstyled blog-list'>
						{ articles?.map((post: Article, index) =>
							<li class='blog-list-item'>
								<PostPreview post={ post } loading={index < 2 ? 'preload' : 'lazy'} />
							</li>
						) }
					</ul> }
			</div>
		</div>
	</div>
</BaseLayout>
