---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';
import { Image } from 'astro:assets';

const articles = await fetchApi<Article[]>({
	endpoint: 'articles?populate[cover][populate]=true&sort[0]=createdAt:desc',
	wrappedByKey: 'data',
});
const filtered = articles.filter((a, index) => index < 9)
---

<BaseLayout pageTitle={pageTitle}>
	<div class="blog">
		{
			filtered.map((article, index) => (
				<a href={`/posts/${article.attributes.slug}/`}>
					{ article.attributes.cover.data &&
						<Image
							src={ article.attributes.cover.data.attributes.formats.small.url }
							width={ article.attributes.cover.data.attributes.formats.small.width }
							height={ article.attributes.cover.data.attributes.formats.small.height }
							alt={article.attributes.title}
							style={{ width: '100%', aspectRatio: '1/1', height: 'auto', objectFit: 'cover' }}
							loading={index < 2 ? 'preload' : 'lazy'}
						/>
					}
					{article.attributes.title}
				</a>
			))
		}
	</div>
</BaseLayout>
