---
import '../styles/landing.styles.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from "../components/landing/hero";
import Benefits from "../components/landing/benefits";
import Magazines from "../components/landing/magazines";
import Faq from "../components/landing/faq";
const pageTitle = "Home Page";
---
<BaseLayout>
	<div class="landing-grid">
		<Hero />

		<section id='subtitle'>
			<div class='section-title'>
				<h2>Why is it better to travel with a Triplay travel planner?</h2>
			</div>
		</section>

		<Benefits />
		<Magazines />
		<Faq client:idle />
	</div>
</BaseLayout>
