---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import { Image } from 'astro:assets';
import Logo from '../../public/images/triplay-logo.svg';
import '../styles/header.styles.scss';
---
<header class="app-header">
	<div class="header__container">
		<Image
			src={ Logo }
			alt='TriPlay'
			loading="preload"
		/>
		<Navigation />
		<!--<Hamburger />-->
	</div>
</header>
