---
import PostPreview from '../components/PostPreview.astro';
import type Article from "../interfaces/article";
import ShowMore from "../components/ShowMore";
const { articles } = Astro.props;

---

<div class="posts-wrapper">
	<h1><a href='/blog/all-posts'>Blog</a></h1>
	{ articles.length &&
		<ul class='ul-unstyled blog-list'>
			{ articles?.map((post: Article, index) =>
				<li class={index < 9 ? 'blog-list-item show' : 'blog-list-item'}>
					<PostPreview post={ post } loading={index < 2 ? 'preload' : 'lazy'} />
				</li>
			) }
		</ul>
	}
	<ShowMore client:only="react" />
</div>
