---
import PostPreview from './PostPreview.astro';
import type Article from "../../interfaces/article";
import ShowMore from "./ShowMore";
const { articles } = Astro.props;

---

<div>
	{ articles.length &&
		<ul class='ul-unstyled blog-list'>
			{ articles?.map((article: Article, index) =>
				<li class={index < 9 ? 'blog-list-item show' : 'blog-list-item'}>
					<PostPreview article={ article } loading={index < 2 ? 'preload' : 'lazy'} />
				</li>
			) }
		</ul>
	}
	<ShowMore client:only="react" />
</div>
