---
import LastPostsCarousel from './LastPostsCarousel';

const { articles } = Astro.props;
---
<section id='last-posts'>
	<div class='last-posts-container'>
		<div class='last-posts'>
			<LastPostsCarousel articles={ articles } client:idle />
		</div>
	</div>
</section>


